.btn-shake-x {
    animation: shakeX 0.82s infinite cubic-bezier(.36,.07,.19,.97);
    transform: translate3d(0, 0, 0);
}

.btn-shake-y {
    animation: shakeY 2s infinite cubic-bezier(.36,.07,.19,.97);
    transform: translate3d(0, 0, 0);
}


@keyframes shakeX {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shakeY {
  10%, 90% {
    transform: translate3d(0, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 4px, 0);
  }
}
